.zhoumao{
	/* ==================
        初始化
 ==================== */
/* #ifndef APP-NVUE */
* {
	box-sizing: border-box;
}

.list-item::marker {
    content: none; /* 或者设置为空字符串 '' */
}

.dn {
	display: none;
}

.di {
	display: inline;
}

.db {
	display: block;
}

.dib {
	display: inline-block;
}

.dt {
	display: table;
}

/* 外边距 */
.mauto-x {
	margin: 0 auto;
}

/*浮动与清除浮动*/
.fl {
	float: left;
}

.fr {
	float: right;
}

.vm {
	vertical-align: middle;
}

.vib {
	display: inline-block;
	vertical-align: middle;
}


/* 文本样式 */
.td-s {
	text-decoration: blink
}

//闪烁
.td-n {
	text-decoration: none
}

//无装饰，通常对html下划线标签去掉下划线样式
.td-c {
	text-decoration: line-through
}

//删除线样式-贯穿线样式
.td-b {
	text-decoration: underline
}

//下划线样式
.td-t {
	text-decoration: overline
}

//上划线样式
/* #endif */



/*定位*/
.pr,
.relative {
	position: relative;
}

.pa,
.absolute {
	position: absolute;
}

.pf,
.fixed {
	position: fixed
}

/* 文字对齐*/
.tl {
	text-align: left;
}

.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/* flex-- */
.flex {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: row;
	align-items: center;
}

.flex-col {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.col-center {
	align-items: center;
}

.col-top {
	align-items: flex-start;
}

.col-bottom {
	align-items: flex-end;
}

.col-max {
	align-items: stretch;
}

.row-center {
	justify-content: center;
}

.row-left {
	justify-content: flex-start;
}

.row-right {
	justify-content: flex-end;
}

.row-between {
	justify-content: space-between;
}

.row-around {
	justify-content: space-around;
}

.flex1 {
	flex: 1;
}

.flex2 {
	flex: 2;
}

.flex3 {
	flex: 3;
}

.flex4 {
	flex: 4;
}

.flex5 {
	flex: 5;
}

/* --flex */

@for $i from 0 through 10 {
	.opa#{$i} {
		opacity: 0.1*$i;
	}

	//透明
	.scale#{$i} {
		transform: scale(0.1*$i);
	}
}

@for $i from 0 through 100 {
	.z-index#{$i} {
		z-index: $i;
	}

	.fs#{$i} {
		font-size: $i+ px;
	}

	.radius#{$i} {
		border-radius: $i+ px;
	}

	.w#{$i}p {
		width: 1%*$i;
	}

	.h#{$i}p {
		height: 1%*$i;
	}
}

@for $i from 0 through 1240 {
	.w#{$i} {
		width: $i+ px;
	}

	// 定义width
	.ml#{$i} {
		margin-left: $i + px;
	}

	.mr#{$i} {
		margin-right: $i + px;
	}

	.mt#{$i} {
		margin-top: $i + px;
	}

	.mb#{$i} {
		margin-bottom: $i + px;
	}

	@if $i <=350 {
		.m#{$i} {
			margin: $i + px;
		}

		.p#{$i} {
			padding: $i + px;
		}
	}

	.pl#{$i} {
		padding-left: $i + px;
	}

	.pr#{$i} {
		padding-right: $i + px;
	}

	.pt#{$i} {
		padding-top: $i + px;
	}

	.pb#{$i} {
		padding-bottom: $i + px;
	}

	.px#{$i} {
		padding-left: $i + px;
		padding-right: $i + px;
	}

	.py#{$i} {
		padding-bottom: $i + px;
		padding-top: $i + px;
	}
}

@for $i from 0 through 1000 {
	.h#{$i} {
		height: $i+ px;
	}

	// 定义height
}

.radius {
	border-radius: 50%;
}

.radius-t0 {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.radius-b0 {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.radius-l0 {
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
}

.radius-r0 {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

/* 清除 */
.p0 {
	padding: 0;
}

.pl0 {
	padding-left: 0;
}

.pr0 {
	padding-right: 0;
}

.pt0 {
	padding-top: 0;
}

.pb0 {
	padding-bottom: 0;
}

/*字体粗细*/
.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}

.fw-w {
	font-weight: bold;
}

//行高
.lh1 {
	line-height: 1;
}

.lh15 {
	line-height: 1.5;
}

.lh2 {
	line-height: 2;
}

/*字体颜色*/
.color-000 {
	color: #000000;
}

.color-111 {
	color: #111111;
}

.color-222 {
	color: #222222;
}

.color-333 {
	color: #333333;
}

.color-666 {
	color: #666666;
}

.color-999 {
	color: #999999;
}

.color-aaa {
	color: #AAAAAA;
}

.color-bbb {
	color: #BBBBBB;
}

.color-ccc {
	color: #CCCCCC;
}

.color-ddd {
	color: #DDDDDD;
}

.color-eee {
	color: #EEEEEE;
}

.color-fff {
	color: #FFFFFF;
}

.color-ada {
	color: #ADADAD;
}

// .color-red{color: red;}
.color-green {
	color: green;
}

// .color-blue{color: blue;}
.color-ye {
	color: yellow;
}

.color-or {
	color: orange;
}

.color-text {
	color: #FF9F10;
}

/*背景颜色*/
.bg-000 {
	background-color: #000000;
}

.bg-111 {
	background-color: #111111;
}

.bg-222 {
	background-color: #222222;
}

.bg-333 {
	background-color: #333333;
}

.bg-444 {
	background-color: #444444;
}

.bg-555 {
	background-color: #555555;
}

.bg-666 {
	background-color: #666666;
}

.bg-777 {
	background-color: #777777;
}

.bg-888 {
	background-color: #888888;
}

.bg-999 {
	background-color: #999999;
}

.bg-aaa {
	background-color: #AAAAAA;
}

.bg-bbb {
	background-color: #bbbbbb;
}

.bg-ccc {
	background-color: #CCCCCC;
}

.bg-ddd {
	background-color: #DDDDDD;
}

.bg-eee {
	background-color: #EEEEEE;
}

.bg-fff {
	background-color: #FFFFFF;
}

.bg-f6f {
	background-color: #F6F6F6;
}

.bg-f7f {
	background-color: #F7F7F7;
}

.bg-f8f {
	background-color: #F8F8F8;
}

.bg-f5f {
	background-color: #F5F5F5;
}

.bg-fcf {
	background-color: #FCFCFC;
}

.bg-faf {
	background-color: #FAFAFA;
}

.bg-d7d {
	background-color: #D7D7D7;
}

.bg-e6e {
	background-color: #E6E6E6;
}

.bg-f345 {
	background-color: #F3F4F5;
}

.bg-red {
	background-color: #EC3B3B;
}

.bg-green {
	background-color: green;
}

.bg-blue {
	background-color: blue;
}

.bg-opa000 {
	background: rgba(0, 0, 0, 0.5);
}

/* 边框 */
.border {
	border: solid 1px #F6F6F6;
}

.border-ccc {
	border: solid 1px #cccccc;
}

.border-eee {
	border: solid 1px #eeeeee;
}

.border-fff {
	border: solid 1px #ffffff;
}

.border-999 {
	border: solid 1px #999999;
}

.border-ede {
	border: solid 1px #EDEDED;
}

.border-b-ede {
	border-bottom: solid 1px #EDEDED;
}

.border-t {
	border-top: solid 1px #E5E5E5;
}

.border-r {
	border-right: solid 1px #E5E5E5;
}

.border-b {
	border-bottom: solid 1px #E5E5E5;
}

.border-l {
	border-left: solid 1px #E5E5E5;
}

.ov-h {
	overflow: hidden;
}

.w-max {
	width: 100%;
}

.h-max {
	height: 100%;
}

.als-s {
	align-self: stretch;
}

.wh-max {
	width: 100%;
	height: 100%;
}

.border-t0 {
	border-top-style: none;
}

.border-r0 {
	border-right-style: none;
}

.border-b0 {
	border-bottom-style: none;
}

.border-l0 {
	border-left-style: none;
}

.pe-none {
	pointer-events: none;
}

.nowrap {
	white-space: nowrap;
}

//不换行

/* start--文本行数限制--start */
.line-1 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.line-2 {
	-webkit-line-clamp: 2;
}

.line-3 {
	-webkit-line-clamp: 3;
}

.line-4 {
	-webkit-line-clamp: 4;
}

.line-5 {
	-webkit-line-clamp: 5;
}

.line-2,
.line-3,
.line-4,
.line-5 {
	overflow: hidden;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box; // 弹性伸缩盒
	-webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}

/* 其他 */

/* 不被压缩 */
.flex-no {
	flex-shrink: 0;
}

/* 数字换行 */
.number-wrap {
	word-break: break-all;
}

.cursor-hover:hover {
	cursor: pointer;
}

.cursor-noinput:hover {
	cursor: no-drop !important;
}

// 绝对定位居中
.pa-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// 垂直居中
.vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
}